@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Michroma&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Michroma', sans-serif;
    background-image: linear-gradient(-55deg,rgb(77, 17, 189),violet,purple,rgb(18, 111, 218));
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    
}
@keyframes Gradient{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.hero-container{
    margin: 0;
    padding: 0;
}




.form-register{
    display:flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color:  rgb(255,255,255, 0.8);
    width: min(100%, 580px);
    margin: 5rem auto;
    padding-bottom: 3rem;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: hwb(291 4% 91% / 0.582) 0px 8px 24px;
    
}

input{
    font-family: inherit;
    outline: transparent;
    border: 2px solid #808080;
    background: #ebe9e9;
    
}


.inputbox{
    position: relative;
    margin: 0;
    padding: 0;
    margin-right: 2rem;
    
}

.inputbox input{
    width: 100%;
    padding: 20px 15px 7px;
    margin-right: 5rem;
    transition: 0.3s ease;
    font-size: 15px;
    border-radius: .5rem
    ;
    

}

.inputbox label{
    font-size: 14px;
    position: absolute;
    top: 15px;
    left: 15px;
    transition: 0.3s ease;
    color: #808080;
}

.inputbox input:focus{
    border: 2px solid purple;
    
}


.inputbox input:focus ~ label{
    top: 6px;
    font-size: 10px;
    color: purple;
}

.inputbox input:not(:placeholder-shown) ~ label{
    top: 6px;
    font-size: 10px;
}

input::placeholder{
    color: transparent;
}
.header-title{
    margin: 0;
    padding: 0;
    position: relative;
    right: 1.8rem;
    padding-bottom: 1rem;
}

.container{
    position: relative;
    right: 7.8rem;
}

.container input{
    position: absolute;
    top: 1.5px;
    left: 10.2rem;
    width: 1.1rem;
    height: 1.1rem;
    accent-color: Purple;
}

.term-policy label{
    font-size: 14px;
}

.link-login{
    position: relative;
    right: 5rem;
    bottom: 1rem;
}

.link-login span , a{
    font-size: 14px;
}

.link-login a{
    color: purple;
}

.button button{
    font-family: inherit;
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: .8rem 5rem;
    border: .5px solid;
    border-radius: 2rem;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.3s ease;
    
}

.header-title h1{
    font-family: 'DM Serif Display', serif;;
    font-size: 2.7rem;
    font-weight: 600;
    padding-top: 3.5rem;
}

.button button:hover{
    border-color: purple;
    background-color: purple;
    transition: 0.3s ease;

}



   

